#topBar {
    -fx-background-color: #001D49;


}

#leftBar {
    -fx-background-color: #368BA5;

}

#menuBar {
    -fx-background-color: #fff;
}

.button {
    -fx-background-color: white;


}

.button:hover {
    -fx-background-color: #3e88ff;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
    -fx-text-fill: white;
    -fx-border-radius: 15 ;

}

